@model NNPEFWEB.ViewModel.PaginatedList<NNPEFWEB.Models.ef_personalInfo>
@using Microsoft.AspNetCore.Authorization

@{ ViewData["Title"] = "UpdatedPersonelByCPO"; }



<h1 style="margin-top:-20px">Personnel Report List</h1>
<div class="row">
    <div class="col-md-6">
        <form asp-action="ListOfAllStaff" method="get" asp-controller="CPOUpdate">
            <div class="row">
                <div class="col-md-4">
                    <label class="control-label">Filtered By:</label>
                    <select name="reporttype" class="form-control">
                        @if (ViewData["reporttype"] != null)
                        {

                            @switch (ViewData["reporttype"])
                            {
                                case "AllStaff":
                                    <option selected value="@ViewData["reporttype"]">All Staff</option>
                                    <option value="Completed">Completed Form</option>
                                    <option value="Auth">Authenticated Form</option>
                                    <option value="Verified">Certified Form</option>
                                    <option value="Processed">Processed Form</option>
                                    break;
                                case "Completed":
                                    <option value="AllStaff">All Staff</option>
                                    <option selected value="@ViewData["reporttype"]">Completed Form</option>
                                    <option value="Completed">Completed Form</option>
                                    <option value="Auth">Authenticated Form</option>
                                    <option value="Verified">Certified Form</option>
                                    <option value="Processed">Processed Form</option>
                                    break;
                                case "Auth":
                                    <option value="AllStaff">All Staff</option>
                                    <option value="Completed">Completed Form</option>
                                    <option selected value="@ViewData["reporttype"]">Authenticated Form</option>
                                    <option value="Verified">Certified Form</option>
                                    <option value="Processed">Processed Form</option>
                                    break;
                                case "Verified":
                                    <option value="AllStaff">All Staff</option>
                                    <option value="Completed">Completed Form</option>
                                    <option value="Auth">Authenticated Form</option>
                                    <option selected value="@ViewData["reporttype"]">Certified Form</option>
                                    <option value="Processed">Processed Form</option>
                                    break;
                                case "Processed":
                                    <option value="AllStaff">All Staff</option>
                                    <option value="Completed">Completed Form</option>
                                    <option value="Auth">Authenticated Form</option>
                                    <option value="Verified">Certified Form</option>
                                    <option selected value="@ViewData["reporttype"]">Processed Form</option>
                                    break;
                                default:
                                    <option value="AllStaff">All Staff</option>
                                    <option value="Completed">Completed Form</option>
                                    <option value="Auth">Authenticated Form</option>
                                    <option value="Verified">Certified Form</option>
                                    <option value="Processed">Processed Form</option>
                                    break;
                            }
                        }
                        else
                        {
                            <option value="AllStaff">All Staff</option>
                            <option value="Completed">Completed Form</option>
                            <option value="Auth">Authenticated Form</option>
                            <option value="Verified">Certified Form</option>
                            <option value="Processed">Processed Form</option>
                        }



                    </select>
                </div>

                <div class="col-md-4" style="margin-top:30px">
                    <input type="submit" class="btn btn-primary" value="Filtered" />
                </div>

            </div>
        </form>
    </div>
    <div class="col-md-4">
        <form asp-action="Export" method="post" asp-controller="CPOUpdate">

            <input type="hidden" name="ship" value="@ViewData["reporttype"]" />
            <input type="hidden" name="pageNumber" value="@(Model.PageIndex)" />
            <input type="submit" class="btn btn-primary" value="Download To Excel" />

        </form>
    </div>
    <div class="col-md-2">
        <form asp-action="ListOfAllStaffReport" method="get" asp-controller="CPOUpdate">

            <input type="hidden" name="ship" value="@ViewData["reporttype"]" />
            <input type="hidden" name="pageNumber" value="@(Model.PageIndex)" />
            <input type="submit" class="btn btn-primary" value="Download To PDF" />
        </form>
    </div>

</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Rank</th>
            <th>Service No</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Ship</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var r in Model)
        {
            <tr>
                <td>@r.Rank</td>
                <td>@r.serviceNumber</td>
                <td>@r.Surname</td>
                <td>@r.OtherName</td>
                <td>@r.ship</td>
            </tr>
        }
    </tbody>
</table>

@*pagination buttons starts here*@

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="ListOfAllStaff" media="get" asp-controller="CPOUpdate"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="ListOfAllStaff" media="get" asp-controller="CPOUpdate"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   class="btn btn-default @nextDisabled">
    Next
</a>