@model NNPEFWEB.ViewModel.personelCountVM
@{
    ViewData["Title"] = "Home Page";
}

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-info">
                    <div class="inner">
                        <h3>@Html.ActionLink(Model.AllStaffOfficers.ToString(), "AllStaffList", "Home", null, new { @style = "color:white;" })</h3>
                        <p>@Html.ActionLink("ALL Officers", "AllStaffList", "Home", null, new { @style = "color:white;" })</p>
                        @*<h3>@Model.AllStaffOfficers</h3>

                        <p>ALL Officers</p>*@
                    </div>
                    <div class="icon">
                        <i class="ion ion-android-person"></i>
                    </div>
                    @* <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>*@
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-success">
                    <div class="inner">
                        <h3>@Html.ActionLink(Model.ApproveStaffOfficers.ToString(), "ApprovedStaffList", "Home", null, new { @style = "color:white;" })</h3>

                        <p>@Html.ActionLink("Officers Approved", "ApprovedStaffList", "Home", null, new { @style = "color:white;" })</p>

                        @*<h3>@Model.ApproveStaffOfficers</h3>

        <p>Officers Approved</p>*@
                    </div>
                    <div class="icon">
                        <i class="ion ion-ios-people-outline"></i>
                    </div>
                    @* <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>*@
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-warning">
                    <div class="inner">
                        <h3>@Html.ActionLink(Model.AwaitingApprovalStaffOfficers.ToString(), "AwaiteApprovalStaffList", "Home", null, new { @style = "color:white;" })</h3>

                        <p>@Html.ActionLink("Officers Awaiting Approval", "AwaiteApprovalStaffList", "Home", null, new { @style = "color:white;" })</p>

                        @*<h3>@Model.AwaitingApprovalStaffOfficers</h3>

        <p>Officers Awaiting Approval</p>*@
                    </div>
                    <div class="icon">
                        <i class="ion ion-android-people"></i>
                    </div>
                    @*<a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>*@
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-danger">
                    <div class="inner">
                        <h3>@Html.ActionLink(Model.YettoFillStaffOfficers.ToString(), "YetToFillStaffList", "Home", null, new { @style = "color:white;" })</h3>

                        <p>@Html.ActionLink("Officers Yet To Fill Form", "YetToFillStaffList", "Home", null, new { @style = "color:white;" })</p>

                        @*<h3>@Model.YettoFillStaffOfficers</h3>

        <p>Officers Yet To Fill Form</p>*@
                    </div>
                    <div class="icon">
                        <i class="ion ion-android-people"></i>
                    </div>
                    @*<a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>*@
                </div>
            </div>
            <!-- ./col -->
        </div>

        <div class="row">
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-info">
                    <div class="inner">
                        <h3>@Html.ActionLink(Model.AllStaffRatings.ToString(), "AllStaffRatingsList", "Home", null, new { @style = "color:white;" })</h3>

                        <p>@Html.ActionLink("ALL Ratings", "AllStaffRatingsList", "Home", null, new { @style = "color:white;" })</p>

                        @*<h3>@Model.AllStaffRatings</h3>

        <p>ALL Ratings</p>*@
                    </div>
                    <div class="icon">
                        <i class="ion ion-android-person"></i>
                    </div>
                    @* <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>*@
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-success">
                    <div class="inner">
                        <h3>@Html.ActionLink(Model.ApproveStaffRatings.ToString(), "ApprovedStaffRatingsList", "Home", null, new { @style = "color:white;" })</h3>

                        <p>@Html.ActionLink("Rating Approved", "ApprovedStaffRatingsList", "Home", null, new { @style = "color:white;" })</p>

                        @*<h3>@Model.ApproveStaffRatings</h3>

        <p>Rating Approved</p>*@
                    </div>
                    <div class="icon">
                        <i class="ion ion-ios-people-outline"></i>
                    </div>
                    @* <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>*@
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-warning">
                    <div class="inner">
                        <h3>@Html.ActionLink(Model.AwaitingApprovalStaffRatings.ToString(), "AwaiteApprovalStaffRatingsList", "Home", null, new { @style = "color:white;" })</h3>


                        <p>@Html.ActionLink("Ratings Awaiting Approval", "AwaiteApprovalStaffRatingsList", "Home", null, new { @style = "color:white;" })</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-android-people"></i>
                    </div>
                    @*<a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>*@
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-danger">
                    <div class="inner">
                        <h3>@Html.ActionLink(Model.YettoFillStaffRatings.ToString(), "YetToFillStaffRatingsList", "Home", null, new { @style = "color:white;" })</h3>

                        <p>@Html.ActionLink("Ratings Yet To Fill Form", "YetToFillStaffRatingsList", "Home", null, new { @style = "color:white;" })</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-android-people"></i>
                    </div>
                    @*<a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>*@
                </div>
            </div>
          
            <!-- ./col -->
        </div>
        <div class="row">
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-info">
                    <div class="inner">
                        <h3>@Html.ActionLink(Model.AllStaffTrainings.ToString(), "AllStaffTrainingsList", "Home", null, new { @style = "color:white;" })</h3>

                        <p>@Html.ActionLink("ALL Trainee Personnel", "AllStaffTrainingsList", "Home", null, new { @style = "color:white;" })</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-android-person"></i>
                    </div>
                    @* <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>*@
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-success">
                    <div class="inner">
                        <h3>@Html.ActionLink(Model.ApproveStaffTrainings.ToString(), "ApprovedStaffTrainingsList", "Home", null, new { @style = "color:white;" })</h3>

                        <p>@Html.ActionLink("Trainee Approve Personnel", "ApprovedStaffTrainingsList", "Home", null, new { @style = "color:white;" })</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-ios-people-outline"></i>
                    </div>
                    @* <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>*@
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-warning">
                    <div class="inner">
                        <h3>@Html.ActionLink(Model.AwaitingApprovalStaffTrainings.ToString(), "AwaiteApprovalStaffTrainingsList", "Home", null, new { @style = "color:white;" })</h3>

                        <p>@Html.ActionLink("Trainee Awaiting Approval", "AwaiteApprovalStaffTrainingsList", "Home", null, new { @style = "color:white;" })</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-android-people"></i>
                    </div>
                    @*<a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>*@
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-danger">
                    <div class="inner">
                        <h3>@Html.ActionLink(Model.YettoFillStaffTrainings.ToString(), "YetToFillStaffTrainingsList", "Home", null, new { @style = "color:white;" })</h3>

                        <p>@Html.ActionLink("Trainee Yet To Fill Form", "YetToFillStaffTrainingsList", "Home", null, new { @style = "color:white;" })</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-android-people"></i>
                    </div>
                    @*<a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>*@
                </div>
            </div>
            
            <!-- ./col -->
        </div>
        <!-- /.row -->
        <!-- Main row -->
        <div class="row">


        </div>
        <!-- /.row (main row) -->
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->