@model IEnumerable<NNPEFWEB.ViewModel.PersonalInfoModel>

@{
    ViewData["Title"] = "RatingReport";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>NN-CPO</title>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />

    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="~/css/styles.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/datepicker.css" rel="stylesheet" />

</head>

<body style="background-color:#e3d99d">
    @* <button onclick="window.print();" id="printForm">Print This Page</button>*@
    @*background-image: url('data:image/*;base64,@(Convert.ToBase64String(Model.FirstOrDefault().AltNokPassport))');*@
    <div id="btnprint">
        @foreach (var r in Model)
        {

            <div style="text-align:center" class="row"><div class="col-md-4"> <h2>RESTRICTED </h2></div> </div>
            <table class="table-borderless" cellpadding="2" cellspacing="0" style="width:100%">
                <tr><td></td><td></td><td></td> <td style="margin-top:300px;">@r.formNumber</td></tr>
                <tr>
                    <td>
                        @if (r.Passport != null)
                        {
                            <img id="passport" style="width:150px;height:150px; object-fit:cover" src="data:image/*;base64,@(Convert.ToBase64String(r.Passport))">
                        }
                        else
                        {
                            <img id="passport" style="width:350px;height:350px; object-fit:cover" src="">
                        }
                    </td>

                    <td>
                        @if (Model.FirstOrDefault().logo != null)
                        {
                            <img id="logo" style="width:200px;height:200px; object-fit:cover" src="data:image/*;base64,@(Convert.ToBase64String(Model.FirstOrDefault().logo))">
                        }
                        else
                        {
                            <img id="logo" style="width:200px;height:200px; object-fit:cover" src="">
                        }
                    </td>
                    <td>

                        @if (r.NokPassport != null)
                        {
                            <img id="nokpassport" style="width:150px;height:150px; object-fit:cover" src="data:image/*;base64,@(Convert.ToBase64String(r.NokPassport))">
                        }
                        else
                        {
                            <img id="nokpassport" style="width:350px;height:350px; object-fit:cover" src="">
                        }

                    </td>
                    <td>

                        @if (r.AltNokPassport != null)
                        {
                            <img id="altNokPassport" style="width:100px;height:100px; object-fit:cover" src="data:image/*;base64,@(Convert.ToBase64String(r.AltNokPassport))">
                        }
                        else
                        {
                            <img id="altnokpassport" style="width:100px;height:100px; object-fit:cover" src="">
                        }

                    </td>

                </tr>
                <tr style="margin-top:-25px"><td>Personnel</td> <td></td><td>Next Of Kin</td><td>Alternate Next Of Kin</td></tr>
            </table>
            <h1 style="text-align:center;">PERSONAL EMOLUMENT RECORD FORM - @DateTime.Now.Year - RATINGS </h1>
            <h2> SECTION A</h2>
            <table class="table-borderless" style="width:100%" width="345" height="160">
                <tbody>
                    <tr>
                        <td>
                            <table style="width:98%; float:right;" cellspacing="5" cellpadding="6">
                                <tr style="border:dotted; border-width:2px"><td style="width:1000px">1.  Surname :  </td><td>&nbsp;&nbsp;&nbsp; <strong>@r.Surname</strong></td></tr>
                                <tr style="height:15px"><td></td></tr>
                                <tr><td>2.  Othername:  &nbsp;&nbsp;&nbsp; <strong> @r.OtherName</strong></td></tr>
                                <tr style="height:15px"><td></td></tr>
                            </table>
                            <table style="width:98%; float:right;" cellspacing="2" cellpadding="2">

                                <tr style="width:1200px"><td>3. Service Number: &nbsp;&nbsp;&nbsp; <strong>@r.serviceNumber</strong></td><td>4.  Rank:&nbsp;&nbsp;&nbsp; <strong> @r.Rank</strong></td></tr>
                                <tr style="height:15px"><td></td></tr>
                                <tr><td>5.  Date of Birth:   &nbsp;&nbsp;&nbsp; <strong>@r.Birthdate@*.Date.ToShortDateString()*@</strong></td> <td>6.  Date of Joining : &nbsp;&nbsp;&nbsp; <strong>@r.DateEmpl@*.Date.ToShortDateString()*@</strong></td></tr>
                                <tr style="height:15px"><td></td></tr>
                                <tr><td>7.  Recidential Address : &nbsp;&nbsp;&nbsp; <strong>@r.home_address</strong></td> </tr>
                                <tr style="height:15px"><td></td></tr>
                                <tr><td>8.  Seniority On Present Rank : &nbsp;&nbsp;&nbsp; <strong>@r.seniorityDate@*.Date.ToShortDateString()*@</strong></td><td>9.  Run Out Date: &nbsp;&nbsp;&nbsp; <strong>@r.runOutDate@*.Date.ToShortDateString()*@</strong></td></tr>
                                <tr style="height:15px"><td></td></tr>
                                <tr><td>10.  Branch:  &nbsp;&nbsp;&nbsp;<strong>@r.branch</strong></td> <td>11.  Specialization : &nbsp;&nbsp;&nbsp; <strong>@r.specialisation</strong></td></tr>
                                <tr style="height:15px"><td></td></tr>
                                <tr><td>12.  Ship/Establishment : &nbsp;&nbsp;&nbsp; <strong>@r.ship</strong></td><td>13.  Command : &nbsp;&nbsp;&nbsp;  <strong>@r.command</strong></td> </tr>
                                <tr style="height:15px"><td></td></tr>
                                <tr><td>14.  Present Appointment : &nbsp;&nbsp;&nbsp; <strong>@r.ship</strong></td><td>15.  State: &nbsp;&nbsp;&nbsp; <strong>@r.StateofOrigin</strong></td> <td>16.  L.G.A: &nbsp;&nbsp;&nbsp; <strong>@r.LocalGovt</strong></td></tr>
                                <tr style="height:15px"><td></td></tr>
                                <tr><td>18.  a. GSM Number (i) : &nbsp;&nbsp;&nbsp; <strong>@r.gsm_number</strong></td> <td>(ii) : <strong>@r.gsm_number2</strong></td></tr>
                                <tr><td>b. Email: &nbsp;&nbsp;&nbsp; <strong>@r.email</strong></td> <td>c. Maritial Status : &nbsp;&nbsp;&nbsp; <strong>@r.MaritalStatus</strong></td></tr>

                                <tr style="height:15px"><td></td></tr>

                            </table>
                        </td>

                    </tr>
                </tbody>
            </table>
            <table style="width:98%; float:right;" cellspacing="2" cellpadding="2">
                <tr style="width:1200px"><td><strong>19.  Name Of Spouse</strong>: &nbsp;&nbsp;&nbsp; <strong>@r.sp_name</strong></td><td><i>State Rank/SVC NO, If Personnel</i></td></tr>
            </table>
            <table style="width:98%; float:right;" cellspacing="2" cellpadding="2">
                <tr><td><strong>a.  Names Of Children</strong></td></tr>
                <tr><td>i.&nbsp;&nbsp;&nbsp; <strong>@r.chid_name</strong> </td><td></td><td>ii.&nbsp;&nbsp;&nbsp; <strong>@r.chid_name2</strong></td></tr>
                <tr><td>iii. &nbsp;&nbsp;&nbsp; <strong>@r.chid_name3</strong></td><td></td><td>vi. &nbsp;&nbsp;&nbsp; <strong>@r.chid_name4</strong></td></tr>
            </table>
            <table style="width:98%; float:right;" cellspacing="2" cellpadding="2">
                <tr><td>b.  GSM Number Of Spouse  (i) &nbsp;&nbsp;&nbsp; <strong>@r.sp_phone</strong></td><td>(ii) &nbsp;&nbsp;&nbsp; <strong>@r.sp_phone2</strong></td> </tr>
                <tr></tr>
                <tr><td>c.  Email of SPouse :&nbsp;&nbsp;&nbsp; <strong>@r.sp_email</strong></td></tr>

                <tr style="height:10px"><td></td></tr>

            </table>

            <table style="width:98%; float:right;" cellspacing="2" cellpadding="2">
                <tr style="width:1200px"><td><h3><strong><u>20. Details Next Of Kins</u> </strong></h3></td></tr>
                <tr><td><strong>a. Next Of Kin</strong></td></tr>
                <tr><td>i. Name: &nbsp;&nbsp;&nbsp; <strong>@r.nok_name</strong></td></tr>
                <tr><td>ii. Relationship: &nbsp;&nbsp;&nbsp; <strong>@r.nok_relation</strong></td></tr>
                <tr><td>iii. Address: &nbsp;&nbsp;&nbsp; <strong>@r.nok_address</strong></td></tr>
                <tr><td>iv. GSM Number: &nbsp;&nbsp;&nbsp; <strong>@r.nok_phone</strong></td></tr>
                <tr><td>v. Email: &nbsp;&nbsp;&nbsp; <strong>@r.nok_email</strong></td> <td>vi. National Identity: &nbsp;&nbsp;&nbsp; <strong>@r.nok_nationalId</strong></td></tr>
            </table>

            <table style="width:98%; float:right;" cellspacing="2" cellpadding="2">
                <tr style="height:10px"><td></td></tr>

                <tr><td><strong>b. Alternate Next Of Kin</strong> <em>(Attach Passport Photograph)</em></td></tr>
                <tr><td>i. Name: &nbsp;&nbsp;&nbsp; <strong>@r.nok_name</strong></td></tr>
                <tr><td>ii. Relationship: &nbsp;&nbsp;&nbsp; <strong>@r.nok_relation</strong></td></tr>
                <tr><td>iii. Address: &nbsp;&nbsp;&nbsp; <strong>@r.nok_address</strong></td></tr>
                <tr><td>iv. GSM Number: &nbsp;&nbsp;&nbsp; <strong>@r.nok_phone</strong></td></tr>
                <tr><td>v. Email: <strong>@r.nok_email</strong></td> <td>vi. National Identity: &nbsp;&nbsp;&nbsp; <strong>@r.nok_nationalId</strong></td></tr>

            </table>
            <table style="width:98%; float:right;" cellspacing="2" cellpadding="2">
                <tr style="width:1200px"><td><h3><strong><u>22. Do You Draw</u> </strong></h3></td></tr>
                @*<tr><td><strong>a. Next Of Kin</strong></td></tr>*@
                <tr><td>a. Rent Subsidy: &nbsp;&nbsp;&nbsp; <strong>@r.rent_subsidy</strong></td></tr>
                <tr><td>b. GCB: &nbsp;&nbsp;&nbsp; <strong>@r.GBC</strong></td><td> GCB NO: &nbsp;&nbsp;&nbsp;<strong>@r.GBC_Number</strong></td></tr>
                <tr><td>c. Aircrew Allowance: &nbsp;&nbsp;&nbsp;<strong>@r.aircrew_allow</strong></td></tr>
                <tr><td>d. Call/Shift Duty Allowance: &nbsp;&nbsp;&nbsp;<strong>@r.shift_duty_allow</strong></td></tr>
                <tr><td>e. Harzard Allowance: &nbsp;&nbsp;&nbsp; <strong>@r.hazard_allow</strong></td>
                <tr />
                <tr><td>f. SBS Allowance     @r.SBC_allow</td></tr>
                <tr><td>g. Special Forces Allowance    @r.special_forces_allow</td>
                <tr />
                <tr><td>h. Other Allowances  <i>(Please Specify)</i>   @r.other_allow</td></tr>

                <tr style="height:20px"><td></td></tr>
            </table>
            <table><tr><td><strong>23: Are You Indebted To The Following: </strong> <em>Please Indicate Year Granted</em></td></tr></table>
            <table>
                <tr><td>a. Fedral Govt Staff Housing Loan Scheme:   &nbsp;&nbsp;&nbsp; <strong>@r.FGSHLS_loan</strong></td><td>  &nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp; Year &nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp; <strong>@r.FGSHLS_loanYear</strong></td></tr>
                <tr><td>b. CNS Car Refurbishing Loan   &nbsp;&nbsp;&nbsp; <strong>@r.car_loan</strong></td><td> &nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp; Year:   &nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp; <strong>@r.car_loanYear</strong></td></tr>
                <tr><td>c. Welfare Loan: &nbsp;&nbsp;&nbsp; <strong>@r.welfare_loan</strong></td><td> Year: &nbsp;&nbsp;&nbsp; <strong>@r.welfare_loanYear</strong></td></tr>
                <tr><td>d. NNMCS Loan <i>(Specify Type)</i>&nbsp;&nbsp;&nbsp; <strong>@r.NNMFBL_loan</strong></td><td>Year: &nbsp;&nbsp;&nbsp; <strong>@r.NNMFBL_loanYear</strong></td></tr>
                <tr><td>e. NNMFBL Loan: &nbsp;&nbsp;&nbsp; <strong>@r.NNMFBL_loan</strong></td><td> Year: &nbsp;&nbsp;&nbsp; <strong>@r.NNMFBL_loanYear</strong></td></tr>
                <tr><td>f. Any Other Loan (Please Specify): &nbsp;&nbsp;&nbsp; <strong>@r.Anyother_Loan</strong></td><td>Year: &nbsp;&nbsp;&nbsp; <strong>@r.Anyother_LoanYear</strong></td></tr>

            </table>

            <table><tr><td><strong>24: Bank Details: </strong></td></tr></table>
            <table>
                <tr><td>a. Salary Account Name: &nbsp;&nbsp;&nbsp; <strong>@r.AccountName</strong></td></tr>
                <tr><td>b. Name Of Bank: &nbsp;&nbsp;&nbsp; <strong>@r.Bankcode</strong></td></tr>
                <tr><td>c. Branch: &nbsp;&nbsp;&nbsp; <strong>@r.bankbranch</strong></td></tr>
                <tr><td>d. Account Number: &nbsp;&nbsp;&nbsp; <strong>@r.BankACNumber</strong></td></tr>

            </table>

            <aside>

                <table class="row">
                    <tr>
                        <td>
                            <h3><strong><i>I Certify that the information provided are true</i></strong></h3>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center; width: 400px">
                            <hr width="200" style="border:1px dashed;" size="4">
                            <strong>Date</strong>
                        </td>
                        <td width="100px"></td>
                        <td style="text-align:center;width:400px">
                            <hr width="200" style="border:1px dashed;" size="4">
                            <strong>Signature</strong>
                        </td>
                    </tr>

                </table>
                <table border="2" style="border-color:aquamarine">
                    <tr>
                        <td>
                            <h3 style="color:aqua"> NOTE: CERTIFICATION OF FALSE INFORMATION ATTRACT SEVERE PUNISHMENT</h3>
                        </td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td><u>SECTION B</u> (To be completed by DIVITIONAL OFFICER (in capital letters))</td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td>Name: &nbsp;&nbsp;&nbsp; <strong><u>@r.div_off_name </u></strong> </td>
                    </tr>
                    <tr>
                        <td width="350px">Rank: &nbsp;&nbsp;&nbsp; <strong>@r.div_off_rank</strong></td>
                        <td>Svc No: &nbsp;&nbsp;&nbsp; <strong>@r.div_off_svcno</strong></td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td width="1200px"><h3><strong>I certify that i have cross-checked the information given by the Rating and found the to be true.</strong></h3></td>
                    </tr>
                </table>
                <table>
                    <tr><td height="20px"></td></tr>
                    <tr>
                        <td style="text-align: center; width: 400px">
                            <hr width="200" style="border:1px dashed;" size="4">
                            <strong>Date</strong>
                        </td>
                        <td width="100px"></td>
                        <td style="text-align:center;width:400px">
                            <hr width="200" style="border:1px dashed;" size="4">
                            <strong>Signature Of Divitional Officer</strong>
                        </td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td>SECTION C (To be completed by HEAD OF DEPARTMENT (in capital letters))</td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td>Name: &nbsp;&nbsp;&nbsp; <strong>@r.hod_name</strong></td>
                    </tr>
                    <tr>
                        <td width="350px">Rank: &nbsp;&nbsp;&nbsp; <strong>@r.hod_rank</strong></td>
                        <td>Svc No: &nbsp;&nbsp;&nbsp; <strong>@r.hod_svcno</strong></td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td>I certify that the information confirm by the DO is true.</td>

                    </tr>
                    <tr><td height="20px"></td></tr>
                    <tr>
                        <td style="text-align: center; width: 400px">
                            <hr width="200" style="border:1px dashed;" size="4">
                            Date
                        </td>
                        <td width="100px"></td>
                        <td style="text-align:center;width:400px">
                            <hr width="200" style="border:1px dashed;" size="4">
                            Signature Of Head Of department
                        </td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td>SECTION D (To be completed by COMMANDING OFFICER (in capital letters))</td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td>Name: &nbsp;&nbsp;&nbsp; <strong>@r.cdr_name</strong></td>
                    </tr>
                    <tr>
                        <td width="350px">Rank: &nbsp;&nbsp;&nbsp; <strong>@r.cdr_rank</strong></td>
                        <td>Svc No: &nbsp;&nbsp;&nbsp; <strong>@r.cdr_svcno</strong></td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td>I certify that the information confirm by the HOD is true.</td>

                    </tr>
                    <tr><td height="20px"></td></tr>
                    <tr>
                        <td style="text-align: center; width: 400px">
                            <hr width="200" style="border:1px dashed;" size="4">
                            <strong>Date</strong>
                        </td>
                        <td width="100px"></td>
                        <td style="text-align:center;width:400px">
                            <hr width="200" style="border:1px dashed;" size="4">
                            <strong>Signature of Commanding Officer</strong>
                        </td>
                    </tr>
                </table>

            </aside>

        }
    <div style="text-align:center" class="row"><div class="col-md-4"> <h2>RESTRICTED </h2></div> </div>
    </div>

    @* <script src="~/plugins/jquery/jquery.min.js"></script>
        <canvas id="DemoCanvas" width="500" height="200"></canvas>*@
    <script>
        var canvas = document.getElementById('DemoCanvas');
        //Always check for properties and methods, to make sure your code doesn't break in other browsers.
        if (canvas.getContext) {
            var context = canvas.getContext('2d');
            // Reset the current path
            context.beginPath();
            // Staring point (10,45)
            context.moveTo(10, 45);
            // End point (180,47)
            context.lineTo(180, 47);
            // Make the line visible
            context.stroke();
        }
    </script>
</body>
</html>
